
h2.page-title {
  @include font-object();
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;
  color: white;
  span {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  @include below($desktop) {
    font-size: 42px;
  }
  @include below($tablet) {
    font-size: 30px;
  }
}

h3.page-subtitle {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}

.embed {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: black;

  padding-top: 80px;
  padding-bottom: 80px;
  
  @include below($laptop) {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }

  video {
    display: block;
    height: auto;
    min-height: 420px;
    width: 100%;
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    @include below($tablet) {
      object-fit: contain;
      min-height: auto;
    }
  }

  &-head {
    padding-left: 15px;
    padding-right: 60px;
    max-width: 720px;
    box-sizing: border-box;
    @include below($hd) {
      max-width: 520px;
      padding-right: 40px;
    }
    @include below($laptop) {
      padding: 0 10px;
    }
    @include below($phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 300px;
      margin: 0 auto;
      padding-top: 60px;
    }
  }

  &-media {
    padding: 0 15px;
    box-sizing: border-box;
    @include below($laptop) {
      padding: 0;
      margin-bottom: 40px;
    }
    @include below($phone) {
      min-height: 260px;
      display: flex;
      align-items: center;
    }
  }

  &-title {
    position: relative;
    margin-bottom: 8px;
    @include font-object();
    font-size: 80px;
    line-height: 1;
    text-transform: uppercase;
    color: $color-brand;
    span {
      font-size: 100px;
      color: white;
      @include below($hd) {
        font-size: 88px;
      }
      @include below($desktop) {
        font-size: 65px;
      }
      @include below($phone) {
        font-size: 58px;
      }
    }
    @include below($hd) {
      font-size: 70px;
    }
    @include below($desktop) {
      font-size: 52px;
    }
    @include below($phone) {
      font-size: 46px;
    }
  }

  &-subtitle {
    font-size: 24px;
    line-height: 1;
    color: white;
    margin-bottom: 12px;
    b {
      color: $color-brand;
    }
    @include below($phone) {
      font-size: 15px;
    }
  }

}
