
h2.page-title {
  @include font-object();
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;
  color: white;
  span {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  @include below($desktop) {
    font-size: 42px;
  }
  @include below($tablet) {
    font-size: 30px;
  }
}

h3.page-subtitle {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}