
.header {
  position: sticky;
  top: 0;
  padding: 15px 0;
  background-color: black;
  background-color: rgba(black, .9);
  backdrop-filter: blur(6px);
  box-sizing: border-box;
  z-index: 50;

  @include below($laptop) {
    padding: 5px 0;
  }
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $hd + 240;
}

.header-brand {
  position: relative;
  flex: 0 0 auto;
  width: 221px;
  @include below($laptop) {
    width: 180px;
  }
  @include below($sm) {
    width: 160px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
}
.header-nav {
  nav {}
}

.navbar {

  @include below($tablet) {
    display: none;
    .header-nav.open & {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      padding: 15px;
      background-color: black;
      background-color: rgba(black, .9);
      backdrop-filter: blur(6px);
      ul {
        flex-direction: column;
      }
      li {
        text-align: right;
      }
      li + li {
        margin-top: 8px;
      }
    }
  }


  ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    padding: 0;
    margin: 0;
    span {
      display: block;
      padding: 15px;
      color: white;
      letter-spacing: 6px;
      cursor: pointer;
      text-transform: uppercase;
      transition: all cubic-bezier(0.755, 0.05, 0.855, 0.06) 400ms;
      &:hover {
        color: $color-accent;
      }
      @include below($laptop) {
        padding: 5px 10px;
      }
      @include below($tablet) {
        font-size: 14px;
      }
    }
  }

  &-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include above($tablet + 1) {
      display: none;
    }

    &:hover span {
      color: $color-accent;
    }
    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $color-brand;
      transition: all ease 400ms;
    }
    span + span {
      margin-top: 6px;
    }
  }
}