
.info {
  &-section {}
  &-box {}
  &-head {
    position: relative;
    padding: 0 40px;
    box-sizing: border-box;
  }
  &-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
  }
  &-subtitle {
    margin-left: 320px;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    color: $color-brand;
  }
  &-lead {
    overflow: hidden;
    span {
      display: block;
      @include font-impact();
      font-size: 150px;
      line-height: 1;
      text-transform: uppercase;
      &:nth-child(1){
        color: transparent;
        -webkit-text-stroke: 1px $color-brand;
      }
      &:nth-child(2){
        color: white;
      }
      &:nth-child(3){
        color: $color-brand;
      }
    }
  }
  &-content {
    margin-right: 0;
    margin-left: auto;
    max-width: 320px;
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0 0 16px;
      &:first-child {
        padding-bottom: 16px;
        border-bottom: 1px solid $color-brand;
      }
    }
    .icon {
      margin-right: 20px;
      font-size: 24px;
      line-height: 1;
    }
    p {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
      span {
        color: $color-brand;
      }
      a {
        text-decoration: none;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .page-lead {
    margin-bottom: 36px;
    margin-left: 350px;
  }

  &-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    img {
      display: block;
      max-width: 60%;
      width: 100%;
      height: auto;
      margin-bottom: 0;
    }
  }
}