
.info {
  position: relative;
  z-index: 0;

  &-section {
    padding-bottom: 60px;
    max-width: $desktop - 120px;
  }
  &-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include below($laptop) {
      display: block;
    }
  }
  &-item {}
  &-head {
    position: relative;
    padding: 0 40px;
    margin-bottom: 60px;
    box-sizing: border-box;
    @include below($laptop) {
      margin-bottom: 40px;
    }
    @include below($tablet) {
      padding: 0 15px;
    }
    @include below($phone) {
      padding: 0;
      margin-bottom: 20px;
    }
  }
  &-title {
    @include font-object();
    font-size: 36px;
    line-height: 1;
    @include below($laptop) {
      font-size: 24px;
    }
    @include below($tablet) {
      font-size: 18px;
    }
  }
  &-subtitle {
    margin-left: 240px;
    @include font-object();
    line-height: 1;
    font-size: 60px;
    color: $color-brand;
    @include below($laptop) {
      margin-left: 120px;
      font-size: 42px;
    }
    @include below($tablet) {
      margin-left: 0;
      font-size: 30px;
    }
  }
  &-lead {
    overflow: hidden;
    margin-bottom: 140px;
    @include below($laptop) {
      margin-bottom: 40px;
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
    span {
      display: block;
      @include font-object();
      font-size: 132px;
      line-height: 1;
      text-transform: uppercase;
      @include below($hd) {
        font-size: 90px;
      }
      @include below($desktop) {
        font-size: 72px;
      }
      @include below($tablet) {
        font-size: 52px;
      }
      &:nth-child(1){
        color: transparent;
        -webkit-text-stroke: 2px $color-brand;
      }
      &:nth-child(2){
        color: white;
      }
      &:nth-child(3){
        color: $color-brand;
      }
    }
  }
  &-contact {
    margin-bottom: 30px;
    @include below($laptop) {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      padding: 0;
      margin: 0 0 32px;
      @include below($sm) {
        margin-bottom: 16px;
      }
    }
    .contact-item {
      display: flex;
      align-items: center;

      font-size: 26px;
      color: $color-brand;
      @include below($desktop) {
        font-size: 24px;
      }
      @include below($phone) {
        font-size: 18px;
      }
    }
    .icon {
      width: 60px;
      display: block;
      margin-right: 24px;
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
    }
    span,
    a {
      text-decoration: none;
      &:focus {
        outline: none;
      }
    }
  }
  &-content {
    margin-right: 0;
    margin-left: auto;
    max-width: 620px;

    @include below(1080px) {
      max-width: 540px;
    }

    @include below($laptop) {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }

    @include below($sm) {
      margin-bottom: 40px;
    }
    
    ul {
      padding: 0;
      padding-top: 15px;
      margin: 0 0 24px;
    }
    li {
      display: block;
      padding: 0;
      margin: 0 0 32px;
      box-sizing: border-box;
      @include below($sm) {
        margin-bottom: 16px;
      }
    }

    li + li {
      padding-left: 100px;
      @include below($desktop) {
        padding-left: 50px;
      }
      @include below(1080px) {
        padding-left: 0;
      }
      
    }

    .content-item {
      display: flex;
      align-items: flex-start;
      box-sizing: border-box;
      small {
        text-transform: uppercase;
        font-style: italic;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.3em;
      }
      .small-msj {
        font-style: italic;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.5em;
        span {
          color: $color-brand;
        }
      }
      .icon + div {
        flex-grow: 1;
      }
    }
      
    .icon {
      margin-right: 10px;
      font-size: 24px;
      line-height: 1;
      display: grid;
      grid-template-columns: 55px 45px;
      @include below($desktop) {
        margin-right: 0;
      }
      @include below($laptop) {
        display: none;
      }
      img {
        display: inline-block;
        vertical-align: top;
        margin: 0 auto;
        max-width: 100%;
      }
    }
    p {
      font-size: 24px;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 12px;
      box-sizing: border-box;
      @include below(1080px) {
        font-size: 21px;
      }
      
      span {
        color: $color-brand;
      }
      a {
        text-decoration: none;
        &:focus {
          outline: none;
        }
      }
      &.lead {
        padding-left: 30px;
        font-size: 28px;
        margin-bottom: 20px;
        @include below(1080px) {
          font-size: 24px;
        }
        @include below($laptop) {
          margin-bottom: 12px;
        }
        @include below($sm) {
          padding-left: 15px;
          font-size: 18px;
        }
      }
    }
    select,
    input[type="email"],
    input[type="text"] {
      appearance: none;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      height: 35px;
      padding: 0 15px;
      font-size: 21px;
      text-align: left;
      background-color: white;
      box-sizing: border-box;
      @include below($sm) {
        font-size: 18px;
      }
    }

    select {
      @include below($sm) {
        height: auto;
        min-height: 35px;
      }
    }

    button[type="submit"] {
      display: block;
      margin-right: 0;
      margin-left: auto;
      border: none;
      padding: 6px 28px;
      @include font-object();
      font-size: 26px;
      color: black;
      cursor: pointer;
      text-transform: uppercase;
      background-color: $color-brand;
      @include below($laptop) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .input-file {
      display: flex;
      align-items: center;
      height: 35px;
      padding: 8px 15px;
      background-color: white;
      cursor: pointer;
      box-sizing: border-box;
      img {
        display: block;
        height: auto;
        margin-bottom: 0;
        margin-right: 12px;
        @include below($desktop) {
          width: 30px;
          margin-right: 0;
        }
      }
      span {
        font-size: 21px;
        color: black;
        padding-left: 10px;
        font-style: italic;
        @include below($sm) {
          font-size: 18px;
        }
      }

      span:last-child {
        display: none;
      }
    }

    input:valid + .input-file {
      background-color: $color-brand;
    }
    input:valid + .input-file span {
      display: none;
    }
    input:valid + .input-file span:last-child {
      display: inline-block;
    }

    .opt-label {
      display: block;
      cursor: pointer;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 8px;
      input {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
    }
    .opt-box {
      display: inline-block;
      vertical-align: top;
      width: 24px;
      height: 24px;
      border-radius: 2px;
      margin-left: 8px;
      background-color: white;
    }
    .opt-label input:checked + .opt-box {
      background-color: $color-brand;
    }
  }

  .page-lead {
    margin-bottom: 36px;
    margin-left: 350px;
  }

  &-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    img {
      display: block;
      max-width: 65%;
      width: 100%;
      height: auto;
      margin-bottom: 0;
    }
    @include below($laptop) {
      opacity: .4 !important;
    }
  }
}


.loading {
  @include fixed(0,0,0,0);
  z-index: 500;
  user-select: none;
  background-color: black;
  opacity: .8;
  backdrop-filter: blur(8px);
  box-sizing: border-box;

  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  &-box {
    display: inline-block;
    vertical-align: middle;
    span {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: white;
      animation: pulseBullet 600ms ease-in-out infinite both;
    }
    span:nth-child(1){}
    span:nth-child(2){
      animation-delay: 100ms;
    }
    span:nth-child(3){
      animation-delay: 200ms;
    }
  }
}

@keyframes pulseBullet {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}