
.kit {

  position: relative;
  z-index: 0;
  overflow: hidden;

  &-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    opacity: .6;
    padding: 0 60px;
    box-sizing: border-box;
    @include no-events();
    img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      display: block;
      max-width: 100%;
      height: auto;
      @include below($sm) {
        width: 200%;
        max-width: none;
        margin-left: -50%;
      }
    }
    @include below($sm) {
      padding: 0;
      opacity: .6;
    }
  }

  &-section {
    @include below($sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .page-title {
    padding-top: 16px;
    margin-bottom: 24px;
    @include below($laptop) {
      margin-bottom: 12px;
    }
  }

  &-content {

    position: relative;
    padding-left: 30px;
    margin-bottom: 80px;

    @include below($tablet) {
      padding-left: 0;
      margin-bottom: 40px;
    }

    ul {}
    li {
      display: block;
      margin-bottom: 8px;
    }
    p {
      font-size: 21px;
      font-style: italic;
      line-height: 1.4;
      margin-top: 0;
      margin-bottom: 20px;
      @include below($desktop) {
        font-size: 16px;
      }
      @include below($phone) {
        margin-bottom: 12px;
      }
    }
    p::before {
      content: "-";
      display: inline-block;
    }
  }
  &-title {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $color-brand;
    margin-bottom: 24px;
    @include below($hd) {
      font-size: 24px;
    }
    @include below($desktop) {
      font-size: 21px;
    }
    @include below($phone) {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }
  &-media {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    img {
      @include img-fluid();
    }
    
    @include below($desktop) {
      max-width: 420px;
      margin-bottom: 16px;
    }
  }

  &-minibox {
    position: absolute;
    top: 30%;
    right: 0;
    text-align: center;
    @include below($desktop) {
      position: relative;
      top: 0;
      text-align: left;
    }
    p {
      color: $color-brand;
      font-size: 21px;
      margin-bottom: 8px;
      &::before {
        content: "-";
        display: inline-block;
        margin-right: 8px;
      }
      @include below($phone) {
        font-size: 18px;
      }
    }
  }
  
}