* {
  --webkit-tab-hightlight-color: rgba(#000, 0);
  --webkit-tab-hightlight-color: transparent;
}

html {
  height: 100%;
  font-size: 1em;
}

body {
  font-size: 16px;
  line-height: 24px;
  background-color: black;
  min-width: 320px;
  // @include basehold();
  @include font-default();
  overflow-x: hidden;
}

p {
  margin-top: 0;
  margin-bottom: 24px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

li {
  padding: 0;
}

a {
  color: inherit;
  outline: none;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: inherit;
  box-sizing: border-box;
}

h6 {
  font-size: 18px;
  line-height: 1.333;
}
h5 {
  font-size: 20px;
  line-height: 1.2;
}
h4 {
  font-size: 22px;
  line-height: 1.091;
}
h3 {
  font-size: 24px;
  line-height: 1;
}
h2 {
  font-size: 26px;
  line-height: 1.848;
}
h1 {
  font-size: 28px;
  line-height: 1.718;
}

small {
  display: block;
  font-size: 14px;
  line-height: 1.714;
  margin-bottom: 0;
}

::selection {
  background-color: #c6c7c8;
  color: black;
}

.app {
  position: relative;
  color: white;
}

.section {
  @include center(1024px);
  padding: 0 15px;
  box-sizing: border-box;
  @include below($sm) {
    padding: 0 10px;
  }
}