@mixin font-face($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$name}';
    src: url('../fonts/#{$file}.woff2') format('woff2'),
      url('../fonts/#{$file}.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face('CenturyGothic', 'CenturyGothic/CenturyGothic-Regular', 400);
@include font-face('CenturyGothic', 'CenturyGothic/CenturyGothic-Bold', 700);
@include font-face('CenturyGothic', 'CenturyGothic/CenturyGothic-Italic', 400, 'italic');
@include font-face('CenturyGothic', 'CenturyGothic/CenturyGothic-BoldItalic', 700, 'italic');

@mixin font-default {
  font-family: 'CenturyGothic', 'Helvetica', sans-serif;
  font-weight: 400;
}

@mixin font-bold {
  font-family: 'CenturyGothic', 'Helvetica', sans-serif;
  font-weight: 700;
}

@mixin font-italic-bold {
  font-family: 'CenturyGothic', 'Helvetica', sans-serif;
  font-weight: 700;
  font-style: italic;
}

@mixin font-italic {
  font-family: 'CenturyGothic', 'Helvetica', sans-serif;
  font-style: italic;
}

@include font-face('ObjectSans', 'ObjectSans/ObjectSans-Heavy', 900);

@mixin font-object {
  font-family: 'ObjectSans';
  font-weight: 900;
}